BODY {
	FONT-SIZE: 12px; FONT-FAMILY: arial, verdana, Geneva, Arial, Helvetica, sans-serif
}
.standard {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.standard_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.scrollerTable {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; WIDTH: 400px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.scroller {
	PADDING-LEFT: 20px
}
.paginator {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.standardTable {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.standardTable_Header {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: medium none; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: medium none; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #abb7d1; TEXT-ALIGN: center; max-width: 100
}
.standardTable_SortHeader {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: medium none; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: medium none; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffdd00; TEXT-ALIGN: center
}
.standardTable_Footer {
	BACKGROUND-COLOR: #ffffe0
}
.standardTable_Row1 {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #ffffe0
}
.standardTable_Row2 {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #ffffe0
}
.standardTable_Column {

}
.standardTable_ColumnCentered {
	TEXT-ALIGN: center; max-width: 100
}
A {
	FONT-SIZE: 12px; COLOR: #333366; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #333366; TEXT-DECORATION: underline
}
.error {
	FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.sortLink {
	COLOR: #333366; TEXT-DECORATION: none
}
.pageLayout {
	WIDTH: 760px; HEIGHT: 100%
}
.pageHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; OVERFLOW: visible; COLOR: #ffffff; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #6392c6; TEXT-ALIGN: center
}
.pageHeader1 {

}
.pageHeader2 {
	WIDTH: 100%
}
.pageHeader2col1 {
	BACKGROUND-COLOR: #ffffff
}
.pageNavigation {
	BORDER-RIGHT: #6392c6 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #6392c6 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #6392c6 1px solid; WIDTH: 200px; PADDING-TOP: 10px; BORDER-BOTTOM: #6392c6 1px solid; BACKGROUND-COLOR: #e7eff7; TEXT-ALIGN: left
}
.pageBody {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; VERTICAL-ALIGN: top; WIDTH: 560px; PADDING-TOP: 20px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.pageFooter {
	FONT-SIZE: xx-small; OVERFLOW: visible; COLOR: #ffffff; HEIGHT: 1px; BACKGROUND-COLOR: #6392c6; TEXT-ALIGN: right
}
.navigation {
	FONT-SIZE: 12px; WIDTH: 100%; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.navitem {
	WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.navitem:hover {
	COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
active {
	COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.navitem_open {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.navitem_open:hover {
	FONT-WEIGHT: bold; COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.navitem_active {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6392c6; TEXT-DECORATION: none
}
A.navitem_active:hover {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6392c6; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6392c6; TEXT-DECORATION: none
}
.navseparator {
	LINE-HEIGHT: 12px; BORDER-BOTTOM: #a2b7c5 1px solid
}
.fileUploadInput {
	FONT-SIZE: 12px; WIDTH: 250px; COLOR: #000000; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.emptyHeader {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
DIV.titlebar {
	CLEAR: both; BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1px; BACKGROUND: #c7d0d9; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #8cacbb 1px solid; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: #8cacbb 1px solid
}
.menurightside {
	TEXT-ALIGN: right
}
.contentColumn {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top; WIDTH: 760px; TEXT-ALIGN: center
}
.headerMenuContent {
	BORDER-RIGHT: #26357f 1px solid; BORDER-TOP: #26357f 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #26357f 1px solid; WIDTH: 760px; BORDER-BOTTOM: #26357f 1px solid; max-width: 600px
}
.header {
	WIDTH: 100%
}
.menuColumn {
	BORDER-RIGHT: #777 thin solid; BORDER-TOP: #777 thin solid; VERTICAL-ALIGN: top; BORDER-LEFT: #777 thin solid; BORDER-BOTTOM: #777 thin solid; BACKGROUND-COLOR: #eee; TEXT-ALIGN: center
}
.menuColumn2 {
	TEXT-ALIGN: right
}
.menusuperior {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/menu.jpg); COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 23px
}
.marco {
	BORDER-RIGHT: #26357f 1px solid; BORDER-TOP: #26357f 1px solid; BORDER-LEFT: #26357f 1px solid; BORDER-BOTTOM: #26357f 1px solid; TEXT-ALIGN: center
}
.menuinferior {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/menu.jpg); COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 23px; TEXT-ALIGN: right
}
.titulo {
	BACKGROUND-POSITION: left bottom; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; COLOR: #253580; TEXT-INDENT: 20px; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.titulo2 {
	BACKGROUND-POSITION: left bottom; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; COLOR: #253580; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.form {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffe0
}
.separadores {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #253580; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textoPresentacion {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 1.5cm; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.yearMonthHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: center
}
.weekHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #e7e7e7; TEXT-ALIGN: center
}
.currentDayCell {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #dddddd
}
.popup {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: smaller; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: rgb(255,255,255)
}
.popup TABLE {
	FONT-SIZE: smaller
}
.countryFormTable {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.countryFormHeader {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffdd00; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.countryFormFooter {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffdd00; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.countryFormLabels {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: right; BORDER-BOTTOM-STYLE: none
}
.countryFormInputs {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.nodeFolder {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
.document {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
.documentSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
.childCount {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
.menuCliente {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #efebde; TEXT-ALIGN: center
}
#subnavigation {
	BORDER-RIGHT: #546359 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #546359 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 0px; BORDER-LEFT: #546359 1px solid; MARGIN-RIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #546359 1px solid; BACKGROUND-COLOR: #eaf4f4
}
#subnavigation_outer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 220px; PADDING-TOP: 0px
}
#subnavigation_outer H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 0px
}
#subnavigation UL LI A {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #294747; PADDING-TOP: 2px; BORDER-BOTTOM: #87a8a8 1px solid; BACKGROUND-COLOR: #d1e4e4; TEXT-DECORATION: none
}
#subnavigation UL LI A:visited {
	COLOR: #294747
}
#subnavigation UL LI A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #87a8a8
}
#subnavigation UL LI A:active {
	COLOR: #294747
}
#subnavigation UL LI A.selected {
	FONT-WEIGHT: bold; COLOR: #294747; BACKGROUND-COLOR: #ffffff
}
#subnavigation UL UL LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 25px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff
}
#subnavigation UL UL LI UL LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
#subnavigation UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#subnavigation LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#subnavigation UL.mypage LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #eaf4f4
}
#subnavigation UL.mypage UL LI A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #87a8a8
}
