.label {
	font-weight: bold;
}
.labelrequired {
	color: #006666;
	font-weight: bold;
}
.labelerror {
	color: #CC0000;
	font-weight: bold;
}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #253580;
	cursor: hand;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color: #253580;
	background-position: left bottom;
	text-align: left;
	text-indent: 2px;
	vertical-align: bottom;
}
.submenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #606060;
	background-position: 10px bottom;
	cursor: hand;
	margin: 0px;
	text-align: left;
	padding-left: 10px;
	font-variant: normal;
	font-weight: normal;
	list-style-type: none;
	border: 0px none;
}
.fondobotonera {
	background-color: #F0F3F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #26357F;
	border-bottom-color: #26357F;
	border-left-color: #26357F;
	border-top-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	cursor: hand;
}
.enabled {
	background-color: #F0F3F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #26357F;
	border-left-color: #26357F;
	border-top-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	cursor: none;
}
.enabledlast {
	background-color: #F0F3F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: none;
	border-top-color: #999999;
	border-right-color: #26357F;
	border-bottom-color: #26357F;
	border-left-color: #26357F;
	border-top-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	cursor: none;
}

.notenabled {
	background-color: #E0FFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #26357F;
	border-left-color: #26357F;
	border-top-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	cursor: none;
}
.notenabledlast {
	background-color: #E0FFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: none;
	border-top-color: #999999;
	border-right-color: #26357F;
	border-bottom-color: #26357F;
	border-left-color: #26357F;
	border-top-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	cursor: none;
}

.textoform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #3A6188;
	color: #FFFFFF;
}
.fondomodulos {
	background-color: #FFFFFF;
	border: thin none #26357F;
}
.marco {
	border: 1px solid #26357F;
}
.subtitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006600;
	background-position: bottom;
}
.menusuperior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	cursor: hand;
}
.textomodulos1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 20px;
}
.textowarning{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	line-height: 20px;
}

.vinculostextos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #26357F;
	cursor: hand;
	font-weight: bold;
}
.menuinferior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #26357F;
}
a:visited, a:hover {
	color: #253580;
	text-decoration: none;
}
a:link,  {
	color: #006600;
	text-decoration: none;
}
.fondo_iconos {
	background-color: #F0F3F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.fondo_menu {
	background-color: #F0F3F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #26357F;
	border-bottom-color: #26357F;
	border-left-color: #26357F;
	border-top-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	cursor: hand;
}
.fondotabla {
	background-color: #F0F3F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #26357F;
	border-left-color: #26357F;
	border-top-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.cabeceratabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #26357F;
	cursor: none;
	font-weight: bold;
}
